* {
    margin: 0;
    padding: 0;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
  }

  .header {
    background-color: red;
    height: 100%;
    grid-column: 2/3;
    display: grid;
  }

  .sidebar {
    background-color: blue;
    grid-row: 1/3;
    display: flex;
  }

  .sidebar-content {
    align-items: center;
    margin: 24px 36px;
  }

  .branding {
    font-size: 32px;
    margin: 15px 0;
  }

  .navigation {
    display: grid;
    margin: 28px 0;
  }

  .navigation p {
    font-size: 21px;
  }

  .navigation div {
    padding: 4px;
  }

  .content {
    background-color: yellow;
    display: grid;
    grid-column: 2/3;
    grid-template-columns: 3fr 1fr;
  }

  .projects {
    display: grid;
    padding: 15px;
  }

  .project-cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 15px;
  }

  .projects .card {
    height: 200px;
    background-color: brown;
  }
  
  .card p {
    padding: 5px;
  }
