* {
    margin: 0;
    padding: 0;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
  }

  .icon {
    background-color: black;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
  }

  .branding .icon {
    width: 32px;
    height: 32px;
  }

  .header {
    background-color: red;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  .top-header {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .bottom-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .searchbar {
    background-color: aqua;
    border-radius: 1em;
    height: 50px;
    width: 75%;
    align-self: center;
  }

  .sidebar {
    background-color: blue;
    grid-row: 1/3;
    display: flex;
  }

  .sidebar-content {
    margin: 28px 38px;
  }

  .branding {
    font-size: 32px;
    margin: 15px 0;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .navigation {
    display: grid;
    margin: 28px 0;
  }

  .navigation p {
    font-size: 21px;
    align-self: center;
  }

  .navigation div {
    display: flex;
    gap: 10px;
    margin-bottom: 8px;
  }

  .content {
    background-color: yellow;
    display: grid;
    grid-column: 2/3;
    grid-template-columns: 3fr 1fr;
    padding: 15px 0;
  }

  .content h1 {
    padding-bottom: 10px;
  }

  .projects {
    display: grid;
    padding: 15px;
    grid-template-rows: auto 1fr;
  }

  .project-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .projects .card {
    min-width: 250px;
    background-color: brown;
    border-radius: .5em;
  }
  
  .card p {
    padding: 15px;
  }

  .news {
    display: grid;
    padding: 15px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2 ,auto 1fr);
  } 

  .annoucements, .trending {
    background-color: blue;
    border-radius: .5em;
  }

  .annoucements {
    grid-row: 2/3;
  }