* {
    margin: 0;
    padding: 0;
  }


  .container{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 4fr;
  }

  .header {
    background-color: #a1a1a1;
  }

  .searchbar {
    background-color: #00acfc;
    height: 3rem;
    margin: 2rem;
  }

  .logo {
    align-self: center;
    justify-self: left;
  }

  .sidebar {
    background-color: #00acfc;
    grid-row: 1/3;
    display: grid;
    gap: 15px;
  }

  .sidebar div {
    display: grid;
    gap: 10px;
  }

  .sidebar button {
    background: none;
    border-style: dashed;
    color: #ffffff;
    font-weight: bold;
    text-align: left;
  }

  .content {
    background-color: #afafaf;
    display: grid;
    grid-template-columns: 4fr 1fr;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
  }

  .projects div{
    background-color: aqua;
    height: 12rem;
  }

